*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #27D1FF;
}
body,html{
    height:100%;
    overflow: hidden;
    box-sizing: border-box;
}
.relative{
    position: relative;
}
body{
    background: url("../images/background.jpg");
    background-size: 100% 100%;
}
@font-face {
    font-family: 'defaultFont';
    src: url('font/default.ttf') format('truetype');
}

::-webkit-scrollbar{
    width:0px;
    height:0px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-track{
    -wekit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 0px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    height:0px;
    border-radius:10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.no-marin{
    margin: 0;
}
.hide{
    display: none;
}
.pr {
    position: relative;
}
.col-sm-9{
    width: 75%;
    float: left;
}
.col-sm-8{
    width: 66.66%;
    float: left;
}
.col-sm-7{
    width: 58.33%;
    float: left;
}
.col-sm-6{
    width: 50%;
    float: left;
}
.col-sm-5{
    width: 41.66%;
    float: left;
}
.col-sm-4{
    width: 33.33%;
    float: left;
}
.col-sm-3{
    width: 25%;
    float: left;
}
.full-height{
    height: 100%;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle {
    display: flex;
    align-items: center;
}
.pull-left{
    float: left;
}
.text-center{
    text-align: center;
}
.c-content{
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.c-nav{
    height: 7%;
    background: rgba(222,222,222,.2);
    box-shadow: 0px 0px 17px rgb(117, 123, 144);
    position: relative;
}
.c-nav>div:not(.navBar):not(.c-tip){
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar{
    position: absolute;
    bottom:0;
    width:100%;
    text-align: center;
    color: #fff!important;
    text-shadow: 2px 2px 3px #000;
    cursor: pointer;
}
.menuActive{
    color: #27D1FF
}
.slopingside {
    height: 0px;
    border: 1px solid #27D1FF;
    width: 30px;
    margin: 0 0 10px 5px;
    transform: rotate(116deg);
    -o-transform: rotate(116deg);
    -moz-transform: rotate(116deg);
    -webkit-transform: rotate(116deg);
}
.trans-button{
    padding: 6px 21px;
    background: rgba(255,255,255,.7);
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: 2px solid #27D1FF;
    box-shadow: 0 0 11px #24bbe5;
    margin: 0 10px;
}
.c-tip{
    float: right;
    height: 100%;
    text-align: center;
    color: #fff;
}
.c-tip div{
    height: 100%;
    padding:0 10px;
    line-height: 100%;
}

.c-pic{
    width:4%;
    float: left;
    margin:0 -10px 0 10px;
}
.c-pic img{
    width:50%;
}
.c-title{
    font-size: 1.6em;
    float: left;
    color:black;
    text-shadow: 3px 3px 5px #000;
}
.c-container{
    height: 93%;
}
.c-map{
    width: calc( 55% - 20px);
    margin-left:20px;
    height:100%;
    float: left;
}
.c-map .map-group{
    width:63%;
    position: relative;
}
.map-group .map{
    width:100%;
}
.hover{
    position: absolute;
    width: 13.6%;
    transition: 1s;
    z-index: 799;
}
.tips{
    position: absolute;
    width: 250px;
    background: url(../images/tip-left.png);
    background-size: 100% 100%;
    height: 248px;
    transition: 1s;
    z-index: -1;
    opacity: 0;
    padding: 10px 20px 10px 50px;
}
.tip-title{
    border-bottom: 2px solid #9a9a9a;
    padding: 0 0 7px 0;
    text-align: center;
    width: 95%;
    color: #444;
    font-weight: bold;
}
.tip-content{
    padding: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
}
.tip-content>div{
    margin-bottom: 10px;
}
.tip-content span{
    font-weight: normal;
    color: #333;
    font-size:0.9em;
}
.sd-map-hover{
    top: 42.8%;
    left: 70.9%;
    opacity: 0;
}
.sd-map-hover:hover{
    opacity: 1;
    transform: scale(2.2,2.2);
}
.sd-map-hover:hover + .sd-tip{
    opacity: 1;
    z-index: 999;
}
.sd-tip{
    bottom: 47%;
    left: 85%;
}
.hn-map-hover{
    top: 61.8%;
    left: 57.9%;
    opacity: 0;
    width:11.8%;
}
.hn-map-hover:hover{
    opacity: 1;
    transform: scale(1.8,1.8);
}
.hn-map-hover:hover + .hn-tip{
    opacity: 1;
    z-index: 999;
}
.hn-tip{
    bottom: 30%;
    left: 76%;
}
.jl-map-hover{
    top: 20%;
    right: 4%;
    opacity: 0;
}
.jl-map-hover:hover{
    opacity: 1;
    transform: scale(2.2,2.2);
}
.jl-map-hover:hover + .jl-tip{
    opacity: 1;
    z-index: 999;
}
.jl-tip{
    bottom: 55%;
    left: 102%;
}


.c-span{
    width:45%;
    height: 100%;
    float: left;
}
.c-box{
    box-shadow: 5px 5px 10px #000;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: calc( 100% - 15px);
    height: calc( 100% - 15px );
    overflow: hidden;
}
.cbox-title{
    padding:4px 0 1px 0;
    text-align: center;
    color: black;
    font-weight: bold;
    background: url("../images/title-background.png") no-repeat;
    background-size: 100% 100%;
}
.c-box-bottom{
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -2px 35px #000;
    border-radius: 3px;
    width: calc( 100% - 15px);
    height: calc( 100% - 15px );
    overflow: hidden;
}
.cbox-title-bottom{
    padding:4px 0 1px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-image: -webkit-linear-gradient(right,rgba(0,0,0,0),#fff,rgba(0,0,0,0)) 30 30;;
}
.cbox-content{
    height: calc( 100% - 27px );
    color: #fff;
    padding: 5px 40px 0 40px;
    position: relative;
}
.cbox-content img{
    width: 65px;
}
.cbox-content .turn-left,.cbox-content .turn-right{
    position: absolute;
    top: 0;
    width: 40px;
    font-size: 23px;
    cursor: pointer;
}
.cbox-content .turn-left{
    left: 0;
}
.cbox-content .turn-right{
    right: 0;
}
.bottomArea .changeArea{
    overflow: auto;
}
.bottomArea .changeArea>div{
    width:300%;
    overflow: hidden;
}
.changeArea>div>div{
    width:16.66%;
    float:left;
}
.over{
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.c-box-inner-title{
    height: 45px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 7px 3px 4px #000;
    color: #a2e5ff;
    padding-top: 50px;
    font-family: '微软雅黑';
}
.c-box-inner-content{
    height: calc( 100% - 45px);
    color: black;
    font-size: 28px;
    font-family: '微软雅黑';
}
.list-box-title{
    margin:4px 0 0 10px;
    border-bottom:1px solid #27D1FF;
    padding: 5px 15px;
    display: inline;
    color: #27D1FF;
    font-weight: bold;
}
.list-box{
    overflow: hidden;
}
.c-group{
    height: 30px;
    margin-top:10px;
}
.c-group-title{
    float: left;
    width: 100px;
    text-align: right;
    height: 100%;
    color: #27D1FF;
}
.c-group-content{
    float: left;
    width: calc( 100% - 100px);
    height: 100%;
    font-weight: bold;
    color: #fff;
}
#Cfz .c-group-title,#Cxnfz .c-group-title{
    float: left;
    width: 150px;
    text-align: right;
    height: 100%;
    color: #27D1FF;
}
#Cfz .c-group-content,#Cxnfz .c-group-content{
    float: left;
    width: calc( 100% - 150px);
    height: 100%;
    font-weight: bold;
    color: #fff;
}
.step{
    transition: 1s;
}
.step{
    height: 17px;
    border-radius: 10px;
    background: #27d1ff57;
    width: 100%;
    text-align: right;
    color: #fff;
    padding:0 10px 0 0;
    font-size:0.9em;
    position: relative;
}
.step .step{
    text-align: left;
    float: left;
    padding:0 0 0 10px;
    color: #000;

}
.status{
    height: 33.33%;
}
.status-light{
    width:20px;
    height:20px;
    border-radius:50%;
}
.list-title{
    border-bottom:1px solid rgba(255,255,255,.4);
    padding:10px 0 3px 0;
    overflow: hidden;
    text-align: center;
}
.div{
    padding:4px 0;
    text-align: center;
    overflow: hidden;
}
.div:nth-child(2n) {
    background:#27d1ff2e;
}
.tbody .div .third:nth-child(2){
    color: #fff;
}
.s-normal{
    color: #2fff1f;
}
.s-error{
    color: #ff5d00;
    font-weight: bold;
}
.s-unusual{
    color: #fffd3b;
}
#pie img{
    width:70%;
}
.animation {
    -webkit-animation:fadeInLeft 1s ease both;
    -moz-animation:fadeInLeft 1s ease both;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity:0;
        -webkit-transform:translateX(-20px)
    }
    100% {
        opacity:1;
        -webkit-transform:translateX(0)
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity:0;
        -moz-transform:translateX(-20px)
    }
    100% {
        opacity:1;
        -moz-transform:translateX(0)
    }
}
.third{
    width: 33.33%;
    float:left;
}
.c-window{
    width: calc( 30% - 120px);
    margin-left:20px;
    height:100%;
    float: left;
}
.c-right{
    width: 55%;
    float: left;
    height: calc( 64% - 36.5px);
}
.c-midddle{
    width: calc(70% - 20px);
    height: 100%;
    float: left;
}
.c-bottom{
    float: left;
    width: 100%;
    height: 40%;
}
.bit{
    font-size: 0.6em;
    margin-left:5px;
    color: #e6f96e;
}
.c-tab{
    width:100px;
    float: left;
    height: 100%;
    background: rgba(222,222,222,.2);
    box-shadow: 0 0 5px #555;
}
.c-tabs{
    padding:20px 0 5px  5px;
    border-bottom: 1px solid #c7eaff;
    cursor: pointer;
    font-weight: bolder;
    text-align: left;
    color: #fff;
}
.c-tabs:hover{
    background: rgba(36, 187, 229, 0.41);
    color: #D6B626;
}
.c-tabs:hover .rect{
    background:#fff;
}
.rect{
    width:10px;
    height:10px;
    background: #27D1FF;
    float: left;
    margin:3px 6px 0;
}
.p-name{
    position: absolute;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000;
    z-index: 5;
}




/*machine*/
.c80{
    width: calc( 80% - 140px);
    margin-left:20px;
    float: left;
    height: 100%;
}
.c20{
    width:20%;
    float: left;
    height: 100%;
}
#machine .c-group{
    width:85%;
    margin:5px auto;
}
#machine .c-group-title{
    width: 70%;
    padding-right :15px;
    box-shadow: 0px 0px 5px #c8c8c8 inset;
    background: rgba(189, 189, 189, 0.5);
    border-radius: 5px 0 0 5px;
}
#machine .c-group-content{
    padding-left:15px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 5px #ddd inset;
    background: rgba(142, 142, 142, 0.5);
    width: 30%;
}
#boxInfo .c-group{
    width: 97%;
    text-align: center;

    margin: 0 auto;
}
#boxInfo .c-group-title{
    width: 100%;
    border-radius: 5px;
}
.fourth{
    width: 25%;
    height: 100%;
    float: left;
}
.statusCircle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: -2px 2px 5px #3e3e3e inset;
    margin-right: 5px;
}
.okCircle{
    background: #2fff1f;
}
.wrongCircle{
    background: #d03e25;
}
.abnormalCircle{
    background: #ffa328;
}

.componentTitle{
    width: 170px;
    text-align: left;
}
.part-button{
    width: 250px;
    padding: 7px 2% 7px 2%;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;

}
.right-top{
    background: url("../images/right-top.png") no-repeat;
    background-size: 100% 100%;
    text-align: right;
}
.right-bottom{
    background: url("../images/right-bottom.png") no-repeat;
    background-size: 100% 100%;
    text-align: right;
}
.left-top{
    background: url("../images/left-top.png") no-repeat;
    background-size: 100% 100%;
}
.left-bottom{
    background: url("../images/left-bottom.png") no-repeat;
    background-size: 100% 100%;
}
.machine-components{
    display: none;
}



/*list界面*/
.list-block{
    width:250px;
    height:120px;
    float: left;
    border-radius: 10px;
    margin: 15px 8px;
    border: 1px solid #fff;
    background: #fff;
    text-align: right;
}
.list-block-show{
    padding: 0 5px;
    height: 65px;
}
.list-block-title{
    font-weight: bold;
    font-size:15px;
    text-align: left;
    margin-top:5px;
}
.list-block-info{
    font-size:18px;
}
.list-block span{
    color: #000;
    position: absolute;
    right: 10px;
}
.list-block i{
    color: #27D1FF;
}
.list-block-window{
    height: 55px;
    border-radius: 10px 10px 0 0;
}
.list-button{
    border: 1px solid #fff;
    border-radius:5px;
    padding:5px 20px;
    cursor: pointer;
}
.list-normal{
    background: #39A248;
}
.list-unusual{
    background:#f9a849;
}
.list-error{
    background:#f44f4f;
}
























#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1407px 511px #27D1FF , 1611px 119px #27D1FF , 1686px 956px #27D1FF , 1163px 1929px #27D1FF , 912px 1242px #27D1FF , 490px 469px #27D1FF , 869px 425px #27D1FF , 1447px 891px #27D1FF , 422px 1960px #27D1FF , 517px 1995px #27D1FF , 738px 171px #27D1FF , 1328px 1668px #27D1FF , 874px 1490px #27D1FF , 83px 81px #27D1FF , 632px 98px #27D1FF , 1518px 1764px #27D1FF , 636px 596px #27D1FF , 1178px 131px #27D1FF , 278px 1179px #27D1FF , 1898px 1951px #27D1FF , 1787px 326px #27D1FF , 186px 1588px #27D1FF , 552px 1942px #27D1FF , 1929px 1300px #27D1FF , 802px 681px #27D1FF , 430px 1711px #27D1FF , 1192px 308px #27D1FF , 123px 1604px #27D1FF , 880px 169px #27D1FF , 1400px 632px #27D1FF , 500px 1165px #27D1FF , 288px 1208px #27D1FF , 319px 1419px #27D1FF , 1170px 980px #27D1FF , 1608px 784px #27D1FF , 1735px 1276px #27D1FF , 966px 1534px #27D1FF , 654px 783px #27D1FF , 1366px 964px #27D1FF , 1213px 60px #27D1FF , 302px 1509px #27D1FF , 845px 714px #27D1FF , 524px 323px #27D1FF , 1538px 1399px #27D1FF , 394px 619px #27D1FF , 680px 26px #27D1FF , 353px 776px #27D1FF , 1826px 1450px #27D1FF , 1909px 1452px #27D1FF , 1014px 1315px #27D1FF , 1883px 1474px #27D1FF , 766px 1742px #27D1FF , 1693px 658px #27D1FF , 1186px 302px #27D1FF , 376px 1575px #27D1FF , 712px 1739px #27D1FF , 1627px 299px #27D1FF , 482px 224px #27D1FF , 1379px 510px #27D1FF , 1543px 1602px #27D1FF , 45px 606px #27D1FF , 827px 1336px #27D1FF , 224px 1939px #27D1FF , 1098px 1342px #27D1FF , 813px 1553px #27D1FF , 825px 419px #27D1FF , 519px 894px #27D1FF , 1406px 797px #27D1FF , 1341px 274px #27D1FF , 1787px 903px #27D1FF , 1701px 1483px #27D1FF , 1108px 232px #27D1FF , 1599px 1409px #27D1FF , 659px 870px #27D1FF , 1538px 335px #27D1FF , 632px 1855px #27D1FF , 154px 1026px #27D1FF , 1722px 979px #27D1FF , 1339px 509px #27D1FF , 1833px 460px #27D1FF , 315px 65px #27D1FF , 496px 1927px #27D1FF , 1314px 427px #27D1FF , 344px 1046px #27D1FF , 1658px 724px #27D1FF , 1899px 264px #27D1FF , 1200px 1305px #27D1FF , 1562px 339px #27D1FF , 159px 766px #27D1FF , 1639px 1966px #27D1FF , 459px 1898px #27D1FF , 944px 763px #27D1FF , 1174px 1056px #27D1FF , 1825px 790px #27D1FF , 906px 1526px #27D1FF , 1537px 1303px #27D1FF , 79px 1105px #27D1FF , 1318px 672px #27D1FF , 1232px 61px #27D1FF , 709px 1078px #27D1FF , 1010px 1810px #27D1FF , 777px 1160px #27D1FF , 1598px 1428px #27D1FF , 815px 684px #27D1FF , 1003px 943px #27D1FF , 1876px 1003px #27D1FF , 1025px 1529px #27D1FF , 66px 549px #27D1FF , 514px 457px #27D1FF , 262px 1005px #27D1FF , 812px 1705px #27D1FF , 1163px 1087px #27D1FF , 165px 45px #27D1FF , 677px 1462px #27D1FF , 580px 1675px #27D1FF , 1848px 1384px #27D1FF , 449px 862px #27D1FF , 1629px 1979px #27D1FF , 667px 135px #27D1FF , 240px 53px #27D1FF , 1919px 1832px #27D1FF , 696px 1384px #27D1FF , 1630px 361px #27D1FF , 878px 663px #27D1FF , 1226px 1723px #27D1FF , 765px 686px #27D1FF , 576px 1647px #27D1FF , 97px 1602px #27D1FF , 1117px 1049px #27D1FF , 1433px 68px #27D1FF , 1375px 1991px #27D1FF , 1755px 990px #27D1FF , 1483px 801px #27D1FF , 473px 1802px #27D1FF , 822px 768px #27D1FF , 196px 577px #27D1FF , 516px 504px #27D1FF , 623px 981px #27D1FF , 1478px 819px #27D1FF , 126px 384px #27D1FF , 584px 1908px #27D1FF , 1549px 521px #27D1FF , 1866px 1335px #27D1FF , 586px 342px #27D1FF , 1698px 642px #27D1FF , 136px 188px #27D1FF , 1613px 520px #27D1FF , 937px 326px #27D1FF , 1111px 169px #27D1FF , 229px 229px #27D1FF , 1357px 20px #27D1FF , 725px 1305px #27D1FF , 23px 1977px #27D1FF , 426px 1945px #27D1FF , 1628px 1530px #27D1FF , 256px 1295px #27D1FF , 58px 78px #27D1FF , 409px 1145px #27D1FF , 1607px 767px #27D1FF , 212px 144px #27D1FF , 361px 1890px #27D1FF , 1827px 1451px #27D1FF , 1875px 645px #27D1FF , 571px 853px #27D1FF , 1302px 301px #27D1FF , 9px 1344px #27D1FF , 418px 619px #27D1FF , 1941px 90px #27D1FF , 949px 640px #27D1FF , 179px 1783px #27D1FF , 1104px 360px #27D1FF , 1723px 370px #27D1FF , 1122px 1418px #27D1FF , 1374px 508px #27D1FF , 1108px 1089px #27D1FF , 1440px 1743px #27D1FF , 462px 1495px #27D1FF , 1187px 265px #27D1FF , 567px 74px #27D1FF , 557px 542px #27D1FF , 967px 673px #27D1FF , 825px 1971px #27D1FF , 988px 1260px #27D1FF , 710px 1206px #27D1FF , 538px 1805px #27D1FF , 137px 861px #27D1FF , 1922px 1313px #27D1FF , 481px 470px #27D1FF , 1224px 316px #27D1FF , 1979px 239px #27D1FF , 22px 1155px #27D1FF , 1640px 186px #27D1FF , 592px 1709px #27D1FF , 765px 170px #27D1FF , 129px 1750px #27D1FF , 788px 719px #27D1FF , 181px 1327px #27D1FF , 433px 1455px #27D1FF , 141px 450px #27D1FF , 1287px 1027px #27D1FF , 1278px 1462px #27D1FF , 688px 1526px #27D1FF , 463px 1604px #27D1FF , 1232px 297px #27D1FF , 920px 1227px #27D1FF , 1571px 1765px #27D1FF , 1482px 1316px #27D1FF , 759px 1463px #27D1FF , 950px 1166px #27D1FF , 1532px 1588px #27D1FF , 608px 267px #27D1FF , 1862px 1943px #27D1FF , 805px 717px #27D1FF , 1803px 1319px #27D1FF , 1821px 683px #27D1FF , 995px 1958px #27D1FF , 484px 932px #27D1FF , 366px 901px #27D1FF , 451px 1563px #27D1FF , 1704px 1471px #27D1FF , 1379px 44px #27D1FF , 1778px 472px #27D1FF , 419px 1806px #27D1FF , 1545px 222px #27D1FF , 1563px 777px #27D1FF , 39px 964px #27D1FF , 1620px 24px #27D1FF , 1151px 320px #27D1FF , 1940px 1426px #27D1FF , 1555px 1538px #27D1FF , 1747px 488px #27D1FF , 1348px 300px #27D1FF , 990px 538px #27D1FF , 780px 361px #27D1FF , 988px 971px #27D1FF , 1973px 1534px #27D1FF , 1542px 1829px #27D1FF , 1557px 216px #27D1FF , 1404px 641px #27D1FF , 47px 877px #27D1FF , 65px 1738px #27D1FF , 1895px 1798px #27D1FF , 56px 591px #27D1FF , 536px 906px #27D1FF , 568px 74px #27D1FF , 433px 462px #27D1FF , 727px 295px #27D1FF , 876px 1878px #27D1FF , 1891px 1946px #27D1FF , 1451px 493px #27D1FF , 1569px 226px #27D1FF , 879px 1351px #27D1FF , 1529px 43px #27D1FF , 33px 74px #27D1FF , 1516px 1924px #27D1FF , 878px 323px #27D1FF , 455px 1122px #27D1FF , 1943px 526px #27D1FF , 1456px 1060px #27D1FF , 1631px 979px #27D1FF , 1819px 1324px #27D1FF , 1660px 1192px #27D1FF , 1867px 1714px #27D1FF , 1928px 1940px #27D1FF , 1618px 744px #27D1FF , 979px 357px #27D1FF , 98px 1645px #27D1FF , 1898px 1207px #27D1FF , 1134px 16px #27D1FF , 1313px 1018px #27D1FF , 717px 812px #27D1FF , 1503px 234px #27D1FF , 1612px 188px #27D1FF , 29px 459px #27D1FF , 414px 1487px #27D1FF , 1223px 1730px #27D1FF , 1643px 1188px #27D1FF , 424px 767px #27D1FF , 1692px 1591px #27D1FF , 1265px 367px #27D1FF , 54px 832px #27D1FF , 410px 804px #27D1FF , 1397px 1242px #27D1FF , 549px 1484px #27D1FF , 721px 1088px #27D1FF , 472px 1240px #27D1FF , 1927px 514px #27D1FF , 1303px 1310px #27D1FF , 71px 1276px #27D1FF , 829px 1332px #27D1FF , 84px 1920px #27D1FF , 1088px 375px #27D1FF , 1659px 736px #27D1FF , 967px 294px #27D1FF , 651px 92px #27D1FF , 1572px 143px #27D1FF , 1680px 770px #27D1FF , 1873px 1289px #27D1FF , 1983px 821px #27D1FF , 448px 1090px #27D1FF , 890px 1332px #27D1FF , 836px 867px #27D1FF , 1867px 1213px #27D1FF , 1874px 1574px #27D1FF , 750px 1063px #27D1FF , 1297px 1971px #27D1FF , 1274px 1015px #27D1FF , 1628px 933px #27D1FF , 309px 1386px #27D1FF , 299px 1621px #27D1FF , 1973px 526px #27D1FF , 196px 1416px #27D1FF , 778px 715px #27D1FF , 1993px 1294px #27D1FF , 381px 435px #27D1FF , 1405px 681px #27D1FF , 1759px 1077px #27D1FF , 1764px 1748px #27D1FF , 168px 470px #27D1FF , 978px 781px #27D1FF , 110px 1666px #27D1FF , 835px 747px #27D1FF , 112px 95px #27D1FF , 604px 712px #27D1FF , 1121px 1752px #27D1FF , 393px 1782px #27D1FF , 1869px 830px #27D1FF , 1303px 348px #27D1FF , 427px 1546px #27D1FF , 761px 718px #27D1FF , 946px 674px #27D1FF , 832px 964px #27D1FF , 1607px 2000px #27D1FF , 1624px 1296px #27D1FF , 1093px 735px #27D1FF , 1865px 608px #27D1FF , 933px 1278px #27D1FF , 1402px 547px #27D1FF , 1865px 1211px #27D1FF , 109px 72px #27D1FF , 249px 1482px #27D1FF , 586px 1933px #27D1FF , 911px 1336px #27D1FF , 697px 853px #27D1FF , 987px 1797px #27D1FF , 1371px 933px #27D1FF , 492px 1896px #27D1FF , 998px 1866px #27D1FF , 518px 31px #27D1FF , 1873px 372px #27D1FF , 1025px 1308px #27D1FF , 1478px 965px #27D1FF , 1934px 934px #27D1FF , 1048px 1262px #27D1FF , 1839px 40px #27D1FF , 1399px 732px #27D1FF , 735px 416px #27D1FF , 621px 394px #27D1FF , 788px 1802px #27D1FF , 1918px 307px #27D1FF , 432px 1845px #27D1FF , 616px 481px #27D1FF , 921px 798px #27D1FF , 354px 597px #27D1FF , 1622px 214px #27D1FF , 1349px 1983px #27D1FF , 1033px 1622px #27D1FF , 1198px 407px #27D1FF , 1239px 1449px #27D1FF , 1278px 1978px #27D1FF , 426px 1264px #27D1FF , 507px 1341px #27D1FF , 1956px 818px #27D1FF , 1041px 277px #27D1FF , 1371px 639px #27D1FF , 1224px 419px #27D1FF , 211px 1106px #27D1FF , 847px 656px #27D1FF , 534px 1891px #27D1FF , 1289px 823px #27D1FF , 906px 482px #27D1FF , 347px 1837px #27D1FF , 1246px 1462px #27D1FF , 915px 1858px #27D1FF , 559px 1320px #27D1FF , 77px 1555px #27D1FF , 845px 1743px #27D1FF , 313px 1414px #27D1FF , 188px 252px #27D1FF , 509px 637px #27D1FF , 374px 142px #27D1FF , 1397px 474px #27D1FF , 458px 1197px #27D1FF , 292px 619px #27D1FF , 1749px 14px #27D1FF , 1638px 24px #27D1FF , 563px 1752px #27D1FF , 1940px 1065px #27D1FF , 1145px 1030px #27D1FF , 894px 1470px #27D1FF , 444px 32px #27D1FF , 1341px 1136px #27D1FF , 1941px 412px #27D1FF , 1328px 785px #27D1FF , 161px 1740px #27D1FF , 948px 829px #27D1FF , 933px 823px #27D1FF , 1709px 507px #27D1FF , 1366px 1821px #27D1FF , 720px 731px #27D1FF , 162px 682px #27D1FF , 1684px 882px #27D1FF , 134px 497px #27D1FF , 1659px 1701px #27D1FF , 1186px 446px #27D1FF , 911px 1435px #27D1FF , 1814px 1028px #27D1FF , 1234px 1520px #27D1FF , 1186px 23px #27D1FF , 318px 87px #27D1FF , 1179px 837px #27D1FF , 1071px 46px #27D1FF , 1125px 1862px #27D1FF , 94px 261px #27D1FF , 1574px 282px #27D1FF , 1039px 815px #27D1FF , 1776px 1472px #27D1FF , 867px 473px #27D1FF , 901px 215px #27D1FF , 862px 630px #27D1FF , 1480px 1673px #27D1FF , 411px 1896px #27D1FF , 1335px 944px #27D1FF , 148px 1235px #27D1FF , 57px 140px #27D1FF , 447px 651px #27D1FF , 1414px 1651px #27D1FF , 209px 1770px #27D1FF , 1800px 1590px #27D1FF , 1304px 1px #27D1FF , 279px 771px #27D1FF , 1770px 1398px #27D1FF , 724px 1201px #27D1FF , 245px 1145px #27D1FF , 172px 1951px #27D1FF , 284px 236px #27D1FF , 1905px 1307px #27D1FF , 1948px 574px #27D1FF , 283px 669px #27D1FF , 247px 384px #27D1FF , 224px 619px #27D1FF , 128px 772px #27D1FF , 1698px 1405px #27D1FF , 830px 505px #27D1FF , 1938px 397px #27D1FF , 1772px 1001px #27D1FF , 1454px 808px #27D1FF , 304px 561px #27D1FF , 1321px 966px #27D1FF , 735px 1368px #27D1FF , 894px 345px #27D1FF , 1217px 1997px #27D1FF , 892px 1342px #27D1FF , 353px 379px #27D1FF , 1382px 1156px #27D1FF , 164px 1239px #27D1FF , 1268px 1859px #27D1FF , 1385px 1721px #27D1FF , 16px 283px #27D1FF , 1819px 200px #27D1FF , 660px 1111px #27D1FF , 1679px 1728px #27D1FF , 463px 596px #27D1FF , 217px 1834px #27D1FF , 1879px 538px #27D1FF , 304px 906px #27D1FF , 1327px 1347px #27D1FF , 1226px 1579px #27D1FF , 1786px 1616px #27D1FF , 1234px 1982px #27D1FF , 1868px 1862px #27D1FF , 814px 948px #27D1FF , 178px 1837px #27D1FF , 571px 1701px #27D1FF , 106px 566px #27D1FF , 270px 925px #27D1FF , 1417px 248px #27D1FF , 609px 1551px #27D1FF , 992px 1825px #27D1FF , 1515px 1999px #27D1FF , 1167px 914px #27D1FF , 1698px 490px #27D1FF , 189px 1463px #27D1FF , 928px 612px #27D1FF , 1714px 803px #27D1FF , 535px 402px #27D1FF , 1000px 379px #27D1FF , 1610px 574px #27D1FF , 1882px 1155px #27D1FF , 1425px 1514px #27D1FF , 417px 1987px #27D1FF , 1681px 1059px #27D1FF , 841px 762px #27D1FF , 1886px 1098px #27D1FF , 1785px 236px #27D1FF , 1950px 950px #27D1FF , 444px 1937px #27D1FF , 1364px 540px #27D1FF , 1971px 225px #27D1FF , 1624px 868px #27D1FF , 869px 640px #27D1FF , 1637px 559px #27D1FF , 20px 823px #27D1FF , 409px 177px #27D1FF , 1804px 1626px #27D1FF , 388px 527px #27D1FF , 1385px 1734px #27D1FF , 988px 1310px #27D1FF , 443px 599px #27D1FF , 1780px 434px #27D1FF , 654px 419px #27D1FF , 268px 1424px #27D1FF , 1971px 40px #27D1FF , 360px 1834px #27D1FF , 875px 1930px #27D1FF , 1866px 1885px #27D1FF , 453px 1670px #27D1FF , 1696px 1337px #27D1FF , 604px 1887px #27D1FF , 1405px 769px #27D1FF , 1546px 897px #27D1FF , 595px 1975px #27D1FF , 32px 1765px #27D1FF , 896px 1150px #27D1FF , 1818px 95px #27D1FF , 444px 49px #27D1FF , 589px 1796px #27D1FF , 764px 1965px #27D1FF , 920px 1803px #27D1FF , 403px 1997px #27D1FF , 833px 1282px #27D1FF , 1127px 1770px #27D1FF , 1810px 77px #27D1FF , 1214px 1102px #27D1FF , 364px 401px #27D1FF , 1139px 1191px #27D1FF , 916px 1907px #27D1FF , 870px 290px #27D1FF , 688px 678px #27D1FF , 1523px 34px #27D1FF , 1265px 1082px #27D1FF , 1394px 1080px #27D1FF , 1787px 1738px #27D1FF , 1682px 755px #27D1FF , 1955px 832px #27D1FF , 546px 1577px #27D1FF , 1062px 1561px #27D1FF , 344px 826px #27D1FF , 1442px 782px #27D1FF , 467px 1477px #27D1FF , 879px 1439px #27D1FF , 1672px 268px #27D1FF , 1317px 1355px #27D1FF , 1980px 1965px #27D1FF , 688px 1465px #27D1FF , 1131px 872px #27D1FF , 1301px 1656px #27D1FF , 974px 583px #27D1FF , 1613px 1467px #27D1FF , 1976px 1995px #27D1FF , 1377px 760px #27D1FF , 1367px 387px #27D1FF , 1880px 191px #27D1FF , 711px 876px #27D1FF , 539px 152px #27D1FF , 545px 1809px #27D1FF , 920px 970px #27D1FF , 1154px 1355px #27D1FF , 1968px 94px #27D1FF , 1703px 490px #27D1FF , 380px 146px #27D1FF , 1561px 785px #27D1FF , 1930px 1385px #27D1FF , 519px 1091px #27D1FF , 269px 570px #27D1FF , 109px 1326px #27D1FF , 1476px 969px #27D1FF , 1999px 1885px #27D1FF , 341px 1238px #27D1FF , 1105px 1076px #27D1FF , 596px 88px #27D1FF , 937px 492px #27D1FF , 1339px 1673px #27D1FF , 1967px 762px #27D1FF , 65px 952px #27D1FF , 111px 93px #27D1FF , 1011px 1684px #27D1FF , 377px 1430px #27D1FF , 1011px 386px #27D1FF , 1162px 421px #27D1FF , 196px 617px #27D1FF , 1407px 1141px #27D1FF , 1562px 572px #27D1FF , 316px 690px #27D1FF , 1600px 1980px #27D1FF , 1545px 1254px #27D1FF , 680px 1120px #27D1FF , 575px 1284px #27D1FF , 179px 1470px #27D1FF , 1496px 1506px #27D1FF , 977px 1376px #27D1FF , 1282px 708px #27D1FF , 408px 1427px #27D1FF , 1173px 1597px #27D1FF , 1120px 1755px #27D1FF , 974px 520px #27D1FF , 979px 384px #27D1FF , 622px 1116px #27D1FF , 1307px 866px #27D1FF , 1188px 1596px #27D1FF , 858px 1947px #27D1FF , 861px 1373px #27D1FF , 857px 43px #27D1FF , 1878px 499px #27D1FF , 1297px 535px #27D1FF , 870px 1286px #27D1FF , 1452px 448px #27D1FF , 906px 72px #27D1FF , 1450px 872px #27D1FF , 1607px 1755px #27D1FF , 1071px 1959px #27D1FF , 976px 879px #27D1FF , 1435px 284px #27D1FF , 1601px 496px #27D1FF , 671px 1713px #27D1FF , 356px 1148px #27D1FF , 837px 867px #27D1FF , 246px 858px #27D1FF , 1031px 1594px #27D1FF , 571px 214px #27D1FF , 1012px 1329px #27D1FF , 1566px 1142px #27D1FF , 219px 1376px #27D1FF , 1580px 1454px #27D1FF , 690px 1037px #27D1FF , 1940px 756px #27D1FF , 1755px 850px #27D1FF , 1037px 363px #27D1FF , 25px 515px #27D1FF , 806px 1571px #27D1FF , 1266px 1398px #27D1FF , 695px 791px #27D1FF , 1838px 950px #27D1FF , 1578px 27px #27D1FF , 1692px 1581px #27D1FF , 1817px 1040px #27D1FF , 1781px 238px #27D1FF , 1052px 895px #27D1FF , 398px 440px #27D1FF , 1643px 325px #27D1FF , 79px 848px #27D1FF , 1295px 326px #27D1FF , 293px 81px #27D1FF , 1202px 1580px #27D1FF , 1441px 100px #27D1FF , 1295px 1465px #27D1FF , 1132px 1275px #27D1FF , 774px 704px #27D1FF , 1109px 1546px #27D1FF , 557px 1390px #27D1FF , 1253px 1224px #27D1FF , 1063px 1618px #27D1FF , 1793px 440px #27D1FF , 890px 1988px #27D1FF , 814px 424px #27D1FF , 1390px 1280px #27D1FF , 1127px 907px #27D1FF , 1044px 1368px #27D1FF , 1317px 876px #27D1FF , 762px 638px #27D1FF , 965px 747px #27D1FF , 755px 1945px #27D1FF , 706px 414px #27D1FF , 1842px 1673px #27D1FF , 1158px 1336px #27D1FF , 989px 1955px #27D1FF , 1857px 89px #27D1FF , 1659px 343px #27D1FF , 509px 1385px #27D1FF , 1620px 758px #27D1FF , 1958px 1064px #27D1FF , 178px 341px #27D1FF , 1500px 808px #27D1FF , 20px 1646px #27D1FF , 1572px 870px #27D1FF , 1821px 1377px #27D1FF , 328px 1965px #27D1FF , 903px 616px #27D1FF , 1731px 1599px #27D1FF , 267px 856px #27D1FF;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1407px 511px #27D1FF , 1611px 119px #27D1FF , 1686px 956px #27D1FF , 1163px 1929px #27D1FF , 912px 1242px #27D1FF , 490px 469px #27D1FF , 869px 425px #27D1FF , 1447px 891px #27D1FF , 422px 1960px #27D1FF , 517px 1995px #27D1FF , 738px 171px #27D1FF , 1328px 1668px #27D1FF , 874px 1490px #27D1FF , 83px 81px #27D1FF , 632px 98px #27D1FF , 1518px 1764px #27D1FF , 636px 596px #27D1FF , 1178px 131px #27D1FF , 278px 1179px #27D1FF , 1898px 1951px #27D1FF , 1787px 326px #27D1FF , 186px 1588px #27D1FF , 552px 1942px #27D1FF , 1929px 1300px #27D1FF , 802px 681px #27D1FF , 430px 1711px #27D1FF , 1192px 308px #27D1FF , 123px 1604px #27D1FF , 880px 169px #27D1FF , 1400px 632px #27D1FF , 500px 1165px #27D1FF , 288px 1208px #27D1FF , 319px 1419px #27D1FF , 1170px 980px #27D1FF , 1608px 784px #27D1FF , 1735px 1276px #27D1FF , 966px 1534px #27D1FF , 654px 783px #27D1FF , 1366px 964px #27D1FF , 1213px 60px #27D1FF , 302px 1509px #27D1FF , 845px 714px #27D1FF , 524px 323px #27D1FF , 1538px 1399px #27D1FF , 394px 619px #27D1FF , 680px 26px #27D1FF , 353px 776px #27D1FF , 1826px 1450px #27D1FF , 1909px 1452px #27D1FF , 1014px 1315px #27D1FF , 1883px 1474px #27D1FF , 766px 1742px #27D1FF , 1693px 658px #27D1FF , 1186px 302px #27D1FF , 376px 1575px #27D1FF , 712px 1739px #27D1FF , 1627px 299px #27D1FF , 482px 224px #27D1FF , 1379px 510px #27D1FF , 1543px 1602px #27D1FF , 45px 606px #27D1FF , 827px 1336px #27D1FF , 224px 1939px #27D1FF , 1098px 1342px #27D1FF , 813px 1553px #27D1FF , 825px 419px #27D1FF , 519px 894px #27D1FF , 1406px 797px #27D1FF , 1341px 274px #27D1FF , 1787px 903px #27D1FF , 1701px 1483px #27D1FF , 1108px 232px #27D1FF , 1599px 1409px #27D1FF , 659px 870px #27D1FF , 1538px 335px #27D1FF , 632px 1855px #27D1FF , 154px 1026px #27D1FF , 1722px 979px #27D1FF , 1339px 509px #27D1FF , 1833px 460px #27D1FF , 315px 65px #27D1FF , 496px 1927px #27D1FF , 1314px 427px #27D1FF , 344px 1046px #27D1FF , 1658px 724px #27D1FF , 1899px 264px #27D1FF , 1200px 1305px #27D1FF , 1562px 339px #27D1FF , 159px 766px #27D1FF , 1639px 1966px #27D1FF , 459px 1898px #27D1FF , 944px 763px #27D1FF , 1174px 1056px #27D1FF , 1825px 790px #27D1FF , 906px 1526px #27D1FF , 1537px 1303px #27D1FF , 79px 1105px #27D1FF , 1318px 672px #27D1FF , 1232px 61px #27D1FF , 709px 1078px #27D1FF , 1010px 1810px #27D1FF , 777px 1160px #27D1FF , 1598px 1428px #27D1FF , 815px 684px #27D1FF , 1003px 943px #27D1FF , 1876px 1003px #27D1FF , 1025px 1529px #27D1FF , 66px 549px #27D1FF , 514px 457px #27D1FF , 262px 1005px #27D1FF , 812px 1705px #27D1FF , 1163px 1087px #27D1FF , 165px 45px #27D1FF , 677px 1462px #27D1FF , 580px 1675px #27D1FF , 1848px 1384px #27D1FF , 449px 862px #27D1FF , 1629px 1979px #27D1FF , 667px 135px #27D1FF , 240px 53px #27D1FF , 1919px 1832px #27D1FF , 696px 1384px #27D1FF , 1630px 361px #27D1FF , 878px 663px #27D1FF , 1226px 1723px #27D1FF , 765px 686px #27D1FF , 576px 1647px #27D1FF , 97px 1602px #27D1FF , 1117px 1049px #27D1FF , 1433px 68px #27D1FF , 1375px 1991px #27D1FF , 1755px 990px #27D1FF , 1483px 801px #27D1FF , 473px 1802px #27D1FF , 822px 768px #27D1FF , 196px 577px #27D1FF , 516px 504px #27D1FF , 623px 981px #27D1FF , 1478px 819px #27D1FF , 126px 384px #27D1FF , 584px 1908px #27D1FF , 1549px 521px #27D1FF , 1866px 1335px #27D1FF , 586px 342px #27D1FF , 1698px 642px #27D1FF , 136px 188px #27D1FF , 1613px 520px #27D1FF , 937px 326px #27D1FF , 1111px 169px #27D1FF , 229px 229px #27D1FF , 1357px 20px #27D1FF , 725px 1305px #27D1FF , 23px 1977px #27D1FF , 426px 1945px #27D1FF , 1628px 1530px #27D1FF , 256px 1295px #27D1FF , 58px 78px #27D1FF , 409px 1145px #27D1FF , 1607px 767px #27D1FF , 212px 144px #27D1FF , 361px 1890px #27D1FF , 1827px 1451px #27D1FF , 1875px 645px #27D1FF , 571px 853px #27D1FF , 1302px 301px #27D1FF , 9px 1344px #27D1FF , 418px 619px #27D1FF , 1941px 90px #27D1FF , 949px 640px #27D1FF , 179px 1783px #27D1FF , 1104px 360px #27D1FF , 1723px 370px #27D1FF , 1122px 1418px #27D1FF , 1374px 508px #27D1FF , 1108px 1089px #27D1FF , 1440px 1743px #27D1FF , 462px 1495px #27D1FF , 1187px 265px #27D1FF , 567px 74px #27D1FF , 557px 542px #27D1FF , 967px 673px #27D1FF , 825px 1971px #27D1FF , 988px 1260px #27D1FF , 710px 1206px #27D1FF , 538px 1805px #27D1FF , 137px 861px #27D1FF , 1922px 1313px #27D1FF , 481px 470px #27D1FF , 1224px 316px #27D1FF , 1979px 239px #27D1FF , 22px 1155px #27D1FF , 1640px 186px #27D1FF , 592px 1709px #27D1FF , 765px 170px #27D1FF , 129px 1750px #27D1FF , 788px 719px #27D1FF , 181px 1327px #27D1FF , 433px 1455px #27D1FF , 141px 450px #27D1FF , 1287px 1027px #27D1FF , 1278px 1462px #27D1FF , 688px 1526px #27D1FF , 463px 1604px #27D1FF , 1232px 297px #27D1FF , 920px 1227px #27D1FF , 1571px 1765px #27D1FF , 1482px 1316px #27D1FF , 759px 1463px #27D1FF , 950px 1166px #27D1FF , 1532px 1588px #27D1FF , 608px 267px #27D1FF , 1862px 1943px #27D1FF , 805px 717px #27D1FF , 1803px 1319px #27D1FF , 1821px 683px #27D1FF , 995px 1958px #27D1FF , 484px 932px #27D1FF , 366px 901px #27D1FF , 451px 1563px #27D1FF , 1704px 1471px #27D1FF , 1379px 44px #27D1FF , 1778px 472px #27D1FF , 419px 1806px #27D1FF , 1545px 222px #27D1FF , 1563px 777px #27D1FF , 39px 964px #27D1FF , 1620px 24px #27D1FF , 1151px 320px #27D1FF , 1940px 1426px #27D1FF , 1555px 1538px #27D1FF , 1747px 488px #27D1FF , 1348px 300px #27D1FF , 990px 538px #27D1FF , 780px 361px #27D1FF , 988px 971px #27D1FF , 1973px 1534px #27D1FF , 1542px 1829px #27D1FF , 1557px 216px #27D1FF , 1404px 641px #27D1FF , 47px 877px #27D1FF , 65px 1738px #27D1FF , 1895px 1798px #27D1FF , 56px 591px #27D1FF , 536px 906px #27D1FF , 568px 74px #27D1FF , 433px 462px #27D1FF , 727px 295px #27D1FF , 876px 1878px #27D1FF , 1891px 1946px #27D1FF , 1451px 493px #27D1FF , 1569px 226px #27D1FF , 879px 1351px #27D1FF , 1529px 43px #27D1FF , 33px 74px #27D1FF , 1516px 1924px #27D1FF , 878px 323px #27D1FF , 455px 1122px #27D1FF , 1943px 526px #27D1FF , 1456px 1060px #27D1FF , 1631px 979px #27D1FF , 1819px 1324px #27D1FF , 1660px 1192px #27D1FF , 1867px 1714px #27D1FF , 1928px 1940px #27D1FF , 1618px 744px #27D1FF , 979px 357px #27D1FF , 98px 1645px #27D1FF , 1898px 1207px #27D1FF , 1134px 16px #27D1FF , 1313px 1018px #27D1FF , 717px 812px #27D1FF , 1503px 234px #27D1FF , 1612px 188px #27D1FF , 29px 459px #27D1FF , 414px 1487px #27D1FF , 1223px 1730px #27D1FF , 1643px 1188px #27D1FF , 424px 767px #27D1FF , 1692px 1591px #27D1FF , 1265px 367px #27D1FF , 54px 832px #27D1FF , 410px 804px #27D1FF , 1397px 1242px #27D1FF , 549px 1484px #27D1FF , 721px 1088px #27D1FF , 472px 1240px #27D1FF , 1927px 514px #27D1FF , 1303px 1310px #27D1FF , 71px 1276px #27D1FF , 829px 1332px #27D1FF , 84px 1920px #27D1FF , 1088px 375px #27D1FF , 1659px 736px #27D1FF , 967px 294px #27D1FF , 651px 92px #27D1FF , 1572px 143px #27D1FF , 1680px 770px #27D1FF , 1873px 1289px #27D1FF , 1983px 821px #27D1FF , 448px 1090px #27D1FF , 890px 1332px #27D1FF , 836px 867px #27D1FF , 1867px 1213px #27D1FF , 1874px 1574px #27D1FF , 750px 1063px #27D1FF , 1297px 1971px #27D1FF , 1274px 1015px #27D1FF , 1628px 933px #27D1FF , 309px 1386px #27D1FF , 299px 1621px #27D1FF , 1973px 526px #27D1FF , 196px 1416px #27D1FF , 778px 715px #27D1FF , 1993px 1294px #27D1FF , 381px 435px #27D1FF , 1405px 681px #27D1FF , 1759px 1077px #27D1FF , 1764px 1748px #27D1FF , 168px 470px #27D1FF , 978px 781px #27D1FF , 110px 1666px #27D1FF , 835px 747px #27D1FF , 112px 95px #27D1FF , 604px 712px #27D1FF , 1121px 1752px #27D1FF , 393px 1782px #27D1FF , 1869px 830px #27D1FF , 1303px 348px #27D1FF , 427px 1546px #27D1FF , 761px 718px #27D1FF , 946px 674px #27D1FF , 832px 964px #27D1FF , 1607px 2000px #27D1FF , 1624px 1296px #27D1FF , 1093px 735px #27D1FF , 1865px 608px #27D1FF , 933px 1278px #27D1FF , 1402px 547px #27D1FF , 1865px 1211px #27D1FF , 109px 72px #27D1FF , 249px 1482px #27D1FF , 586px 1933px #27D1FF , 911px 1336px #27D1FF , 697px 853px #27D1FF , 987px 1797px #27D1FF , 1371px 933px #27D1FF , 492px 1896px #27D1FF , 998px 1866px #27D1FF , 518px 31px #27D1FF , 1873px 372px #27D1FF , 1025px 1308px #27D1FF , 1478px 965px #27D1FF , 1934px 934px #27D1FF , 1048px 1262px #27D1FF , 1839px 40px #27D1FF , 1399px 732px #27D1FF , 735px 416px #27D1FF , 621px 394px #27D1FF , 788px 1802px #27D1FF , 1918px 307px #27D1FF , 432px 1845px #27D1FF , 616px 481px #27D1FF , 921px 798px #27D1FF , 354px 597px #27D1FF , 1622px 214px #27D1FF , 1349px 1983px #27D1FF , 1033px 1622px #27D1FF , 1198px 407px #27D1FF , 1239px 1449px #27D1FF , 1278px 1978px #27D1FF , 426px 1264px #27D1FF , 507px 1341px #27D1FF , 1956px 818px #27D1FF , 1041px 277px #27D1FF , 1371px 639px #27D1FF , 1224px 419px #27D1FF , 211px 1106px #27D1FF , 847px 656px #27D1FF , 534px 1891px #27D1FF , 1289px 823px #27D1FF , 906px 482px #27D1FF , 347px 1837px #27D1FF , 1246px 1462px #27D1FF , 915px 1858px #27D1FF , 559px 1320px #27D1FF , 77px 1555px #27D1FF , 845px 1743px #27D1FF , 313px 1414px #27D1FF , 188px 252px #27D1FF , 509px 637px #27D1FF , 374px 142px #27D1FF , 1397px 474px #27D1FF , 458px 1197px #27D1FF , 292px 619px #27D1FF , 1749px 14px #27D1FF , 1638px 24px #27D1FF , 563px 1752px #27D1FF , 1940px 1065px #27D1FF , 1145px 1030px #27D1FF , 894px 1470px #27D1FF , 444px 32px #27D1FF , 1341px 1136px #27D1FF , 1941px 412px #27D1FF , 1328px 785px #27D1FF , 161px 1740px #27D1FF , 948px 829px #27D1FF , 933px 823px #27D1FF , 1709px 507px #27D1FF , 1366px 1821px #27D1FF , 720px 731px #27D1FF , 162px 682px #27D1FF , 1684px 882px #27D1FF , 134px 497px #27D1FF , 1659px 1701px #27D1FF , 1186px 446px #27D1FF , 911px 1435px #27D1FF , 1814px 1028px #27D1FF , 1234px 1520px #27D1FF , 1186px 23px #27D1FF , 318px 87px #27D1FF , 1179px 837px #27D1FF , 1071px 46px #27D1FF , 1125px 1862px #27D1FF , 94px 261px #27D1FF , 1574px 282px #27D1FF , 1039px 815px #27D1FF , 1776px 1472px #27D1FF , 867px 473px #27D1FF , 901px 215px #27D1FF , 862px 630px #27D1FF , 1480px 1673px #27D1FF , 411px 1896px #27D1FF , 1335px 944px #27D1FF , 148px 1235px #27D1FF , 57px 140px #27D1FF , 447px 651px #27D1FF , 1414px 1651px #27D1FF , 209px 1770px #27D1FF , 1800px 1590px #27D1FF , 1304px 1px #27D1FF , 279px 771px #27D1FF , 1770px 1398px #27D1FF , 724px 1201px #27D1FF , 245px 1145px #27D1FF , 172px 1951px #27D1FF , 284px 236px #27D1FF , 1905px 1307px #27D1FF , 1948px 574px #27D1FF , 283px 669px #27D1FF , 247px 384px #27D1FF , 224px 619px #27D1FF , 128px 772px #27D1FF , 1698px 1405px #27D1FF , 830px 505px #27D1FF , 1938px 397px #27D1FF , 1772px 1001px #27D1FF , 1454px 808px #27D1FF , 304px 561px #27D1FF , 1321px 966px #27D1FF , 735px 1368px #27D1FF , 894px 345px #27D1FF , 1217px 1997px #27D1FF , 892px 1342px #27D1FF , 353px 379px #27D1FF , 1382px 1156px #27D1FF , 164px 1239px #27D1FF , 1268px 1859px #27D1FF , 1385px 1721px #27D1FF , 16px 283px #27D1FF , 1819px 200px #27D1FF , 660px 1111px #27D1FF , 1679px 1728px #27D1FF , 463px 596px #27D1FF , 217px 1834px #27D1FF , 1879px 538px #27D1FF , 304px 906px #27D1FF , 1327px 1347px #27D1FF , 1226px 1579px #27D1FF , 1786px 1616px #27D1FF , 1234px 1982px #27D1FF , 1868px 1862px #27D1FF , 814px 948px #27D1FF , 178px 1837px #27D1FF , 571px 1701px #27D1FF , 106px 566px #27D1FF , 270px 925px #27D1FF , 1417px 248px #27D1FF , 609px 1551px #27D1FF , 992px 1825px #27D1FF , 1515px 1999px #27D1FF , 1167px 914px #27D1FF , 1698px 490px #27D1FF , 189px 1463px #27D1FF , 928px 612px #27D1FF , 1714px 803px #27D1FF , 535px 402px #27D1FF , 1000px 379px #27D1FF , 1610px 574px #27D1FF , 1882px 1155px #27D1FF , 1425px 1514px #27D1FF , 417px 1987px #27D1FF , 1681px 1059px #27D1FF , 841px 762px #27D1FF , 1886px 1098px #27D1FF , 1785px 236px #27D1FF , 1950px 950px #27D1FF , 444px 1937px #27D1FF , 1364px 540px #27D1FF , 1971px 225px #27D1FF , 1624px 868px #27D1FF , 869px 640px #27D1FF , 1637px 559px #27D1FF , 20px 823px #27D1FF , 409px 177px #27D1FF , 1804px 1626px #27D1FF , 388px 527px #27D1FF , 1385px 1734px #27D1FF , 988px 1310px #27D1FF , 443px 599px #27D1FF , 1780px 434px #27D1FF , 654px 419px #27D1FF , 268px 1424px #27D1FF , 1971px 40px #27D1FF , 360px 1834px #27D1FF , 875px 1930px #27D1FF , 1866px 1885px #27D1FF , 453px 1670px #27D1FF , 1696px 1337px #27D1FF , 604px 1887px #27D1FF , 1405px 769px #27D1FF , 1546px 897px #27D1FF , 595px 1975px #27D1FF , 32px 1765px #27D1FF , 896px 1150px #27D1FF , 1818px 95px #27D1FF , 444px 49px #27D1FF , 589px 1796px #27D1FF , 764px 1965px #27D1FF , 920px 1803px #27D1FF , 403px 1997px #27D1FF , 833px 1282px #27D1FF , 1127px 1770px #27D1FF , 1810px 77px #27D1FF , 1214px 1102px #27D1FF , 364px 401px #27D1FF , 1139px 1191px #27D1FF , 916px 1907px #27D1FF , 870px 290px #27D1FF , 688px 678px #27D1FF , 1523px 34px #27D1FF , 1265px 1082px #27D1FF , 1394px 1080px #27D1FF , 1787px 1738px #27D1FF , 1682px 755px #27D1FF , 1955px 832px #27D1FF , 546px 1577px #27D1FF , 1062px 1561px #27D1FF , 344px 826px #27D1FF , 1442px 782px #27D1FF , 467px 1477px #27D1FF , 879px 1439px #27D1FF , 1672px 268px #27D1FF , 1317px 1355px #27D1FF , 1980px 1965px #27D1FF , 688px 1465px #27D1FF , 1131px 872px #27D1FF , 1301px 1656px #27D1FF , 974px 583px #27D1FF , 1613px 1467px #27D1FF , 1976px 1995px #27D1FF , 1377px 760px #27D1FF , 1367px 387px #27D1FF , 1880px 191px #27D1FF , 711px 876px #27D1FF , 539px 152px #27D1FF , 545px 1809px #27D1FF , 920px 970px #27D1FF , 1154px 1355px #27D1FF , 1968px 94px #27D1FF , 1703px 490px #27D1FF , 380px 146px #27D1FF , 1561px 785px #27D1FF , 1930px 1385px #27D1FF , 519px 1091px #27D1FF , 269px 570px #27D1FF , 109px 1326px #27D1FF , 1476px 969px #27D1FF , 1999px 1885px #27D1FF , 341px 1238px #27D1FF , 1105px 1076px #27D1FF , 596px 88px #27D1FF , 937px 492px #27D1FF , 1339px 1673px #27D1FF , 1967px 762px #27D1FF , 65px 952px #27D1FF , 111px 93px #27D1FF , 1011px 1684px #27D1FF , 377px 1430px #27D1FF , 1011px 386px #27D1FF , 1162px 421px #27D1FF , 196px 617px #27D1FF , 1407px 1141px #27D1FF , 1562px 572px #27D1FF , 316px 690px #27D1FF , 1600px 1980px #27D1FF , 1545px 1254px #27D1FF , 680px 1120px #27D1FF , 575px 1284px #27D1FF , 179px 1470px #27D1FF , 1496px 1506px #27D1FF , 977px 1376px #27D1FF , 1282px 708px #27D1FF , 408px 1427px #27D1FF , 1173px 1597px #27D1FF , 1120px 1755px #27D1FF , 974px 520px #27D1FF , 979px 384px #27D1FF , 622px 1116px #27D1FF , 1307px 866px #27D1FF , 1188px 1596px #27D1FF , 858px 1947px #27D1FF , 861px 1373px #27D1FF , 857px 43px #27D1FF , 1878px 499px #27D1FF , 1297px 535px #27D1FF , 870px 1286px #27D1FF , 1452px 448px #27D1FF , 906px 72px #27D1FF , 1450px 872px #27D1FF , 1607px 1755px #27D1FF , 1071px 1959px #27D1FF , 976px 879px #27D1FF , 1435px 284px #27D1FF , 1601px 496px #27D1FF , 671px 1713px #27D1FF , 356px 1148px #27D1FF , 837px 867px #27D1FF , 246px 858px #27D1FF , 1031px 1594px #27D1FF , 571px 214px #27D1FF , 1012px 1329px #27D1FF , 1566px 1142px #27D1FF , 219px 1376px #27D1FF , 1580px 1454px #27D1FF , 690px 1037px #27D1FF , 1940px 756px #27D1FF , 1755px 850px #27D1FF , 1037px 363px #27D1FF , 25px 515px #27D1FF , 806px 1571px #27D1FF , 1266px 1398px #27D1FF , 695px 791px #27D1FF , 1838px 950px #27D1FF , 1578px 27px #27D1FF , 1692px 1581px #27D1FF , 1817px 1040px #27D1FF , 1781px 238px #27D1FF , 1052px 895px #27D1FF , 398px 440px #27D1FF , 1643px 325px #27D1FF , 79px 848px #27D1FF , 1295px 326px #27D1FF , 293px 81px #27D1FF , 1202px 1580px #27D1FF , 1441px 100px #27D1FF , 1295px 1465px #27D1FF , 1132px 1275px #27D1FF , 774px 704px #27D1FF , 1109px 1546px #27D1FF , 557px 1390px #27D1FF , 1253px 1224px #27D1FF , 1063px 1618px #27D1FF , 1793px 440px #27D1FF , 890px 1988px #27D1FF , 814px 424px #27D1FF , 1390px 1280px #27D1FF , 1127px 907px #27D1FF , 1044px 1368px #27D1FF , 1317px 876px #27D1FF , 762px 638px #27D1FF , 965px 747px #27D1FF , 755px 1945px #27D1FF , 706px 414px #27D1FF , 1842px 1673px #27D1FF , 1158px 1336px #27D1FF , 989px 1955px #27D1FF , 1857px 89px #27D1FF , 1659px 343px #27D1FF , 509px 1385px #27D1FF , 1620px 758px #27D1FF , 1958px 1064px #27D1FF , 178px 341px #27D1FF , 1500px 808px #27D1FF , 20px 1646px #27D1FF , 1572px 870px #27D1FF , 1821px 1377px #27D1FF , 328px 1965px #27D1FF , 903px 616px #27D1FF , 1731px 1599px #27D1FF , 267px 856px #27D1FF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 921px 1554px #27D1FF , 1944px 550px #27D1FF , 1696px 1632px #27D1FF , 16px 1899px #27D1FF , 1894px 130px #27D1FF , 77px 262px #27D1FF , 22px 1159px #27D1FF , 933px 1206px #27D1FF , 1660px 482px #27D1FF , 1067px 1154px #27D1FF , 468px 625px #27D1FF , 1408px 1687px #27D1FF , 153px 1200px #27D1FF , 887px 1966px #27D1FF , 1260px 514px #27D1FF , 1167px 1158px #27D1FF , 790px 553px #27D1FF , 1103px 758px #27D1FF , 226px 1028px #27D1FF , 1340px 1760px #27D1FF , 1712px 528px #27D1FF , 114px 1693px #27D1FF , 185px 572px #27D1FF , 1566px 1793px #27D1FF , 317px 1501px #27D1FF , 846px 530px #27D1FF , 1585px 1437px #27D1FF , 1335px 1009px #27D1FF , 1768px 436px #27D1FF , 1131px 666px #27D1FF , 27px 1543px #27D1FF , 1778px 1861px #27D1FF , 1496px 30px #27D1FF , 1359px 1226px #27D1FF , 416px 135px #27D1FF , 1675px 673px #27D1FF , 296px 524px #27D1FF , 432px 1822px #27D1FF , 1995px 416px #27D1FF , 1206px 1846px #27D1FF , 542px 603px #27D1FF , 1811px 1083px #27D1FF , 1125px 1900px #27D1FF , 4px 1410px #27D1FF , 665px 1674px #27D1FF , 982px 365px #27D1FF , 809px 534px #27D1FF , 116px 1381px #27D1FF , 727px 439px #27D1FF , 1674px 1407px #27D1FF , 976px 1762px #27D1FF , 1585px 28px #27D1FF , 1916px 624px #27D1FF , 1716px 1118px #27D1FF , 1022px 177px #27D1FF , 807px 619px #27D1FF , 1657px 338px #27D1FF , 1608px 1259px #27D1FF , 405px 1890px #27D1FF , 433px 1978px #27D1FF , 1457px 1495px #27D1FF , 175px 989px #27D1FF , 850px 1044px #27D1FF , 170px 444px #27D1FF , 1623px 71px #27D1FF , 977px 1319px #27D1FF , 440px 464px #27D1FF , 51px 1209px #27D1FF , 783px 1274px #27D1FF , 1296px 244px #27D1FF , 1260px 94px #27D1FF , 652px 905px #27D1FF , 805px 1307px #27D1FF , 947px 822px #27D1FF , 384px 268px #27D1FF , 1856px 1782px #27D1FF , 459px 1844px #27D1FF , 1679px 473px #27D1FF , 673px 1832px #27D1FF , 96px 345px #27D1FF , 1268px 428px #27D1FF , 788px 1138px #27D1FF , 1242px 867px #27D1FF , 652px 831px #27D1FF , 993px 1706px #27D1FF , 1337px 64px #27D1FF , 1092px 624px #27D1FF , 674px 1344px #27D1FF , 1036px 405px #27D1FF , 996px 1371px #27D1FF , 1906px 1410px #27D1FF , 1285px 1079px #27D1FF , 1756px 583px #27D1FF , 404px 380px #27D1FF , 1739px 1620px #27D1FF , 1253px 372px #27D1FF , 520px 620px #27D1FF , 1842px 852px #27D1FF , 490px 387px #27D1FF , 1251px 143px #27D1FF , 1814px 537px #27D1FF , 1405px 623px #27D1FF , 1236px 1186px #27D1FF , 1286px 896px #27D1FF , 1626px 990px #27D1FF , 31px 1067px #27D1FF , 1288px 939px #27D1FF , 763px 338px #27D1FF , 713px 1515px #27D1FF , 859px 1621px #27D1FF , 1720px 1984px #27D1FF , 796px 1743px #27D1FF , 1439px 1587px #27D1FF , 965px 412px #27D1FF , 775px 1168px #27D1FF , 1192px 956px #27D1FF , 368px 1075px #27D1FF , 1484px 1154px #27D1FF , 1784px 547px #27D1FF , 815px 675px #27D1FF , 1387px 890px #27D1FF , 1665px 1733px #27D1FF , 1948px 429px #27D1FF , 1665px 92px #27D1FF , 1806px 919px #27D1FF , 1712px 494px #27D1FF , 577px 1922px #27D1FF , 820px 1228px #27D1FF , 678px 1745px #27D1FF , 1421px 586px #27D1FF , 788px 208px #27D1FF , 380px 250px #27D1FF , 748px 977px #27D1FF , 1637px 337px #27D1FF , 851px 1514px #27D1FF , 1487px 1410px #27D1FF , 1776px 710px #27D1FF , 544px 453px #27D1FF , 1707px 1932px #27D1FF , 1121px 1642px #27D1FF , 1227px 391px #27D1FF , 583px 833px #27D1FF , 658px 278px #27D1FF , 345px 1388px #27D1FF , 1529px 1419px #27D1FF , 233px 1008px #27D1FF , 892px 943px #27D1FF , 1431px 1091px #27D1FF , 1524px 316px #27D1FF , 1547px 192px #27D1FF , 976px 36px #27D1FF , 1648px 1053px #27D1FF , 1833px 1572px #27D1FF , 1677px 936px #27D1FF , 589px 1755px #27D1FF , 978px 1875px #27D1FF , 1508px 412px #27D1FF , 1242px 439px #27D1FF , 1263px 40px #27D1FF , 1427px 1736px #27D1FF , 639px 906px #27D1FF , 1349px 373px #27D1FF , 1055px 969px #27D1FF , 602px 95px #27D1FF , 224px 1805px #27D1FF , 1129px 837px #27D1FF , 1110px 1358px #27D1FF , 1067px 1752px #27D1FF , 391px 1389px #27D1FF , 885px 1979px #27D1FF , 1188px 414px #27D1FF , 1931px 325px #27D1FF , 1853px 1918px #27D1FF , 636px 1313px #27D1FF , 1236px 1913px #27D1FF , 1801px 780px #27D1FF , 633px 529px #27D1FF , 1500px 33px #27D1FF , 1387px 1045px #27D1FF , 832px 1281px #27D1FF , 1880px 1845px #27D1FF , 1477px 1096px #27D1FF , 1457px 698px #27D1FF , 1658px 1049px #27D1FF , 1957px 1151px #27D1FF , 1561px 1593px #27D1FF , 627px 250px #27D1FF , 975px 1575px #27D1FF , 68px 998px #27D1FF , 951px 85px #27D1FF , 280px 431px #27D1FF , 1683px 1745px #27D1FF , 322px 778px #27D1FF , 841px 888px #27D1FF , 1895px 1883px #27D1FF , 700px 568px #27D1FF , 1846px 442px #27D1FF , 91px 1650px #27D1FF , 970px 917px #27D1FF , 1585px 452px #27D1FF;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 921px 1554px #27D1FF , 1944px 550px #27D1FF , 1696px 1632px #27D1FF , 16px 1899px #27D1FF , 1894px 130px #27D1FF , 77px 262px #27D1FF , 22px 1159px #27D1FF , 933px 1206px #27D1FF , 1660px 482px #27D1FF , 1067px 1154px #27D1FF , 468px 625px #27D1FF , 1408px 1687px #27D1FF , 153px 1200px #27D1FF , 887px 1966px #27D1FF , 1260px 514px #27D1FF , 1167px 1158px #27D1FF , 790px 553px #27D1FF , 1103px 758px #27D1FF , 226px 1028px #27D1FF , 1340px 1760px #27D1FF , 1712px 528px #27D1FF , 114px 1693px #27D1FF , 185px 572px #27D1FF , 1566px 1793px #27D1FF , 317px 1501px #27D1FF , 846px 530px #27D1FF , 1585px 1437px #27D1FF , 1335px 1009px #27D1FF , 1768px 436px #27D1FF , 1131px 666px #27D1FF , 27px 1543px #27D1FF , 1778px 1861px #27D1FF , 1496px 30px #27D1FF , 1359px 1226px #27D1FF , 416px 135px #27D1FF , 1675px 673px #27D1FF , 296px 524px #27D1FF , 432px 1822px #27D1FF , 1995px 416px #27D1FF , 1206px 1846px #27D1FF , 542px 603px #27D1FF , 1811px 1083px #27D1FF , 1125px 1900px #27D1FF , 4px 1410px #27D1FF , 665px 1674px #27D1FF , 982px 365px #27D1FF , 809px 534px #27D1FF , 116px 1381px #27D1FF , 727px 439px #27D1FF , 1674px 1407px #27D1FF , 976px 1762px #27D1FF , 1585px 28px #27D1FF , 1916px 624px #27D1FF , 1716px 1118px #27D1FF , 1022px 177px #27D1FF , 807px 619px #27D1FF , 1657px 338px #27D1FF , 1608px 1259px #27D1FF , 405px 1890px #27D1FF , 433px 1978px #27D1FF , 1457px 1495px #27D1FF , 175px 989px #27D1FF , 850px 1044px #27D1FF , 170px 444px #27D1FF , 1623px 71px #27D1FF , 977px 1319px #27D1FF , 440px 464px #27D1FF , 51px 1209px #27D1FF , 783px 1274px #27D1FF , 1296px 244px #27D1FF , 1260px 94px #27D1FF , 652px 905px #27D1FF , 805px 1307px #27D1FF , 947px 822px #27D1FF , 384px 268px #27D1FF , 1856px 1782px #27D1FF , 459px 1844px #27D1FF , 1679px 473px #27D1FF , 673px 1832px #27D1FF , 96px 345px #27D1FF , 1268px 428px #27D1FF , 788px 1138px #27D1FF , 1242px 867px #27D1FF , 652px 831px #27D1FF , 993px 1706px #27D1FF , 1337px 64px #27D1FF , 1092px 624px #27D1FF , 674px 1344px #27D1FF , 1036px 405px #27D1FF , 996px 1371px #27D1FF , 1906px 1410px #27D1FF , 1285px 1079px #27D1FF , 1756px 583px #27D1FF , 404px 380px #27D1FF , 1739px 1620px #27D1FF , 1253px 372px #27D1FF , 520px 620px #27D1FF , 1842px 852px #27D1FF , 490px 387px #27D1FF , 1251px 143px #27D1FF , 1814px 537px #27D1FF , 1405px 623px #27D1FF , 1236px 1186px #27D1FF , 1286px 896px #27D1FF , 1626px 990px #27D1FF , 31px 1067px #27D1FF , 1288px 939px #27D1FF , 763px 338px #27D1FF , 713px 1515px #27D1FF , 859px 1621px #27D1FF , 1720px 1984px #27D1FF , 796px 1743px #27D1FF , 1439px 1587px #27D1FF , 965px 412px #27D1FF , 775px 1168px #27D1FF , 1192px 956px #27D1FF , 368px 1075px #27D1FF , 1484px 1154px #27D1FF , 1784px 547px #27D1FF , 815px 675px #27D1FF , 1387px 890px #27D1FF , 1665px 1733px #27D1FF , 1948px 429px #27D1FF , 1665px 92px #27D1FF , 1806px 919px #27D1FF , 1712px 494px #27D1FF , 577px 1922px #27D1FF , 820px 1228px #27D1FF , 678px 1745px #27D1FF , 1421px 586px #27D1FF , 788px 208px #27D1FF , 380px 250px #27D1FF , 748px 977px #27D1FF , 1637px 337px #27D1FF , 851px 1514px #27D1FF , 1487px 1410px #27D1FF , 1776px 710px #27D1FF , 544px 453px #27D1FF , 1707px 1932px #27D1FF , 1121px 1642px #27D1FF , 1227px 391px #27D1FF , 583px 833px #27D1FF , 658px 278px #27D1FF , 345px 1388px #27D1FF , 1529px 1419px #27D1FF , 233px 1008px #27D1FF , 892px 943px #27D1FF , 1431px 1091px #27D1FF , 1524px 316px #27D1FF , 1547px 192px #27D1FF , 976px 36px #27D1FF , 1648px 1053px #27D1FF , 1833px 1572px #27D1FF , 1677px 936px #27D1FF , 589px 1755px #27D1FF , 978px 1875px #27D1FF , 1508px 412px #27D1FF , 1242px 439px #27D1FF , 1263px 40px #27D1FF , 1427px 1736px #27D1FF , 639px 906px #27D1FF , 1349px 373px #27D1FF , 1055px 969px #27D1FF , 602px 95px #27D1FF , 224px 1805px #27D1FF , 1129px 837px #27D1FF , 1110px 1358px #27D1FF , 1067px 1752px #27D1FF , 391px 1389px #27D1FF , 885px 1979px #27D1FF , 1188px 414px #27D1FF , 1931px 325px #27D1FF , 1853px 1918px #27D1FF , 636px 1313px #27D1FF , 1236px 1913px #27D1FF , 1801px 780px #27D1FF , 633px 529px #27D1FF , 1500px 33px #27D1FF , 1387px 1045px #27D1FF , 832px 1281px #27D1FF , 1880px 1845px #27D1FF , 1477px 1096px #27D1FF , 1457px 698px #27D1FF , 1658px 1049px #27D1FF , 1957px 1151px #27D1FF , 1561px 1593px #27D1FF , 627px 250px #27D1FF , 975px 1575px #27D1FF , 68px 998px #27D1FF , 951px 85px #27D1FF , 280px 431px #27D1FF , 1683px 1745px #27D1FF , 322px 778px #27D1FF , 841px 888px #27D1FF , 1895px 1883px #27D1FF , 700px 568px #27D1FF , 1846px 442px #27D1FF , 91px 1650px #27D1FF , 970px 917px #27D1FF , 1585px 452px #27D1FF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1679px 1408px #27D1FF , 1970px 1504px #27D1FF , 1789px 965px #27D1FF , 698px 234px #27D1FF , 1733px 1854px #27D1FF , 1060px 271px #27D1FF , 719px 1744px #27D1FF , 1707px 1847px #27D1FF , 1710px 432px #27D1FF , 1325px 1585px #27D1FF , 92px 577px #27D1FF , 163px 1938px #27D1FF , 1885px 123px #27D1FF , 1566px 1753px #27D1FF , 1288px 21px #27D1FF , 1396px 1908px #27D1FF , 675px 1466px #27D1FF , 734px 1557px #27D1FF , 941px 1885px #27D1FF , 1692px 6px #27D1FF , 115px 1183px #27D1FF , 639px 1044px #27D1FF , 1171px 1982px #27D1FF , 1801px 1078px #27D1FF , 648px 820px #27D1FF , 1885px 1984px #27D1FF , 268px 1729px #27D1FF , 1388px 181px #27D1FF , 1741px 1280px #27D1FF , 1719px 1080px #27D1FF , 12px 932px #27D1FF , 489px 157px #27D1FF , 1910px 790px #27D1FF , 115px 44px #27D1FF , 1748px 1458px #27D1FF , 282px 109px #27D1FF , 1100px 1528px #27D1FF , 543px 598px #27D1FF , 1320px 1188px #27D1FF , 1124px 839px #27D1FF , 1406px 1289px #27D1FF , 472px 1376px #27D1FF , 852px 286px #27D1FF , 510px 860px #27D1FF , 700px 306px #27D1FF , 1822px 1302px #27D1FF , 15px 19px #27D1FF , 1360px 420px #27D1FF , 1483px 42px #27D1FF , 1287px 1867px #27D1FF , 1105px 1322px #27D1FF , 745px 161px #27D1FF , 431px 1722px #27D1FF , 855px 1254px #27D1FF , 860px 1784px #27D1FF , 1578px 1955px #27D1FF , 1085px 461px #27D1FF , 472px 690px #27D1FF , 23px 1152px #27D1FF , 1625px 601px #27D1FF , 1177px 1692px #27D1FF , 397px 1984px #27D1FF , 10px 1164px #27D1FF , 1132px 1557px #27D1FF , 438px 817px #27D1FF , 1590px 1236px #27D1FF , 1037px 1616px #27D1FF , 533px 941px #27D1FF , 1163px 1992px #27D1FF , 1451px 1081px #27D1FF , 1335px 1578px #27D1FF , 503px 1556px #27D1FF , 197px 1725px #27D1FF , 511px 1397px #27D1FF , 1514px 1164px #27D1FF , 1249px 148px #27D1FF , 947px 1849px #27D1FF , 1258px 1426px #27D1FF , 255px 1937px #27D1FF , 23px 529px #27D1FF , 578px 230px #27D1FF , 925px 767px #27D1FF , 903px 365px #27D1FF , 1861px 451px #27D1FF , 1813px 912px #27D1FF , 1597px 637px #27D1FF , 195px 626px #27D1FF , 130px 404px #27D1FF , 725px 408px #27D1FF , 1916px 843px #27D1FF , 1336px 239px #27D1FF , 1568px 1390px #27D1FF , 139px 126px #27D1FF , 1287px 1271px #27D1FF , 731px 465px #27D1FF , 1959px 1465px #27D1FF , 909px 169px #27D1FF , 838px 1332px #27D1FF , 464px 1037px #27D1FF , 1893px 233px #27D1FF;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1679px 1408px #27D1FF , 1970px 1504px #27D1FF , 1789px 965px #27D1FF , 698px 234px #27D1FF , 1733px 1854px #27D1FF , 1060px 271px #27D1FF , 719px 1744px #27D1FF , 1707px 1847px #27D1FF , 1710px 432px #27D1FF , 1325px 1585px #27D1FF , 92px 577px #27D1FF , 163px 1938px #27D1FF , 1885px 123px #27D1FF , 1566px 1753px #27D1FF , 1288px 21px #27D1FF , 1396px 1908px #27D1FF , 675px 1466px #27D1FF , 734px 1557px #27D1FF , 941px 1885px #27D1FF , 1692px 6px #27D1FF , 115px 1183px #27D1FF , 639px 1044px #27D1FF , 1171px 1982px #27D1FF , 1801px 1078px #27D1FF , 648px 820px #27D1FF , 1885px 1984px #27D1FF , 268px 1729px #27D1FF , 1388px 181px #27D1FF , 1741px 1280px #27D1FF , 1719px 1080px #27D1FF , 12px 932px #27D1FF , 489px 157px #27D1FF , 1910px 790px #27D1FF , 115px 44px #27D1FF , 1748px 1458px #27D1FF , 282px 109px #27D1FF , 1100px 1528px #27D1FF , 543px 598px #27D1FF , 1320px 1188px #27D1FF , 1124px 839px #27D1FF , 1406px 1289px #27D1FF , 472px 1376px #27D1FF , 852px 286px #27D1FF , 510px 860px #27D1FF , 700px 306px #27D1FF , 1822px 1302px #27D1FF , 15px 19px #27D1FF , 1360px 420px #27D1FF , 1483px 42px #27D1FF , 1287px 1867px #27D1FF , 1105px 1322px #27D1FF , 745px 161px #27D1FF , 431px 1722px #27D1FF , 855px 1254px #27D1FF , 860px 1784px #27D1FF , 1578px 1955px #27D1FF , 1085px 461px #27D1FF , 472px 690px #27D1FF , 23px 1152px #27D1FF , 1625px 601px #27D1FF , 1177px 1692px #27D1FF , 397px 1984px #27D1FF , 10px 1164px #27D1FF , 1132px 1557px #27D1FF , 438px 817px #27D1FF , 1590px 1236px #27D1FF , 1037px 1616px #27D1FF , 533px 941px #27D1FF , 1163px 1992px #27D1FF , 1451px 1081px #27D1FF , 1335px 1578px #27D1FF , 503px 1556px #27D1FF , 197px 1725px #27D1FF , 511px 1397px #27D1FF , 1514px 1164px #27D1FF , 1249px 148px #27D1FF , 947px 1849px #27D1FF , 1258px 1426px #27D1FF , 255px 1937px #27D1FF , 23px 529px #27D1FF , 578px 230px #27D1FF , 925px 767px #27D1FF , 903px 365px #27D1FF , 1861px 451px #27D1FF , 1813px 912px #27D1FF , 1597px 637px #27D1FF , 195px 626px #27D1FF , 130px 404px #27D1FF , 725px 408px #27D1FF , 1916px 843px #27D1FF , 1336px 239px #27D1FF , 1568px 1390px #27D1FF , 139px 126px #27D1FF , 1287px 1271px #27D1FF , 731px 465px #27D1FF , 1959px 1465px #27D1FF , 909px 169px #27D1FF , 838px 1332px #27D1FF , 464px 1037px #27D1FF , 1893px 233px #27D1FF;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}