html,body{
    height:100%;
    margin:0;
    padding: 0;
    overflow: hidden;
}
.full-height{
    height: 100%;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
img{
    width: 100%;
    height: 100%;
}


#shouye{
    position: relative;
}
.fakeBlock{
    position: absolute;
    cursor: pointer;
}

#zhanshi .back{
    position: fixed;
    top:20px;
    right: 20px;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: bold;
    background: #fff;
}